@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body{
    font-family: 'Inconsolata', monospace;
    min-height: 400px;
    background-color: #000;
    background-size: 100vh;
    background-position: center bottom;
    background-repeat: no-repeat;
}

#msg{
  color: #fff;
  text-align: center;
  margin-top: 15px;
  font-size: 35px;
}
    
.container{
    text-align: center;
    padding: 20px;
    height: 97vh;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 100px;
    position: absolute;
    top: 10px;
    right:10px;
  }

  footer{
    padding: 50px;
    text-align: center;
    color: white;
  }

  .blinking{
	animation:blinkingText 0.8s infinite;
}
